<a href="https://colab.research.google.com/github/Austine-Antoni/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop (Example 1)

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement (example 1), (Example 2)

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break
  #this loop will still print "Thursday"

Sunday
Monday
Tuesday
Wednesday
Thursday

The break statement (example 2), (Example 3)

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)
  #until Wednesday only

Sunday
Monday
Tuesday
Wednesday

Looping through a String (Example 4)

In [ ]:
for x in "week":
  print(x)
  #prints each character in "week"

w
e
e
k

Application 3 (Example 5)

Display only "Thursday" using break statement

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break
print("\n*by using the range() function:\n")
for x in range(len(week)):
  print(week[4])
  break

Thursday

*by using the range() function:

Thursday

The range() Function (Example 6)

In [ ]:
for x in range(6):
  print(x)
  #prints from 0 to 5
print("\n")
for x in range(2,6):
  print(x)
  #prints from 2 to 5

0
1
2
3
4
5


2
3
4
5

Nested Loops (Example 7)

In [ ]:
adjective = ["red", "big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop (Example 8)

In [ ]:
i = 1
while i < 6:
  print(i)
  i+=1

1
2
3
4
5

While Loop with break Statement (Example 9)

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

While Loop with continue Statement (Example 10)

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue #continues to the next number
  print(i)

1
2
4
5
6

While Loop with else Statement (Example 11)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 4
  
  Create a Python program that displays:

  Hello  0

  Hello  1

  Hello  2

  Hello  3

  Hello  4

  Hello  5

  Hello  6

  Hello  7

  Hello  8

  Hello  9

  Hello  10

In [ ]:
for app_4 in range(0,11):
  print("Hello ",app_4)

print("\nusing while loop\n")

app_4_1 = 0
while app_4_1 < 11:
  print("Hello ", app_4_1)
  app_4_1+=1

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

using while loop

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

Application 5

Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
for app_5 in range(3,10):
  print(app_5)

print("\nusing while loop\n")

app_5_1 = 3
while app_5_1 < 10:
  print(app_5_1)
  app_5_1+=1

3
4
5
6
7
8
9

using while loop

3
4
5
6
7
8
9